@font-face {
  font-family: 'GeosansLight';
  font-style: normal;
  font-weight: normal;
  src: url('./../../resources/fonts/GeosansLight.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: "GeosansLight", sans-serif;
}

header {
  width: 100%;
  background-color: #38003c;
  height: 100px;
  margin-bottom: 10px;
}

header div {
  height: 100px;
}
header .title {
  background-color: #fff;
  border-color: #fff;
}

header .title > span {
  color: #38003c;
  font-size: 2em;
  margin-left: 20%;
  margin-top: 5px;
  display: block;
  font-weight: bold;
}

.triangle {
  width: 0;
  height: 0;
  border-bottom: 100px solid transparent;
  border-left: 100px solid #fff;
}

footer {
  width: 100%;
  background-color: #fff;
  height: 100px;
}

h4 {
  color: #e90052;
  font-size: 1.6em;
}

a {
  color: #e90052;
  font-size: 1.6em;
}

a:hover {
  color: #e90052;
  text-decoration-line: underline;
}

a.back {
  color: #76766f;
  font-size: 1em;
}

.allLeagues {
  margin-top: 22px;
}

.leagueName {
  margin: 5px 0px;
}

.loader {
  display : block;
  position : fixed;
  z-index: 100;
  background-image : url('./../../resources/images/loading.gif');
  background-repeat : no-repeat;
  background-position : center;
  left : 0;
  bottom : 0;
  right : 0;
  top : 0;
}

.fixture > div {
  background-color: #fff;
  color: #242424;
  line-height: 2em;
  margin-bottom: 2px;
}

.fixture > div.result {
  color: #fff;
  background-color: #76766f;
}

.fixture > div.addScore {
  color: #fff;
  background-color: #e90052;
}

.fixture > div > span {
  font-size: 1.2em;
}

.fixture > div.result > span {
  font-size: 1.6em;
}

.form-group input.search {
  width: 150px;
}